.dash{
  background-color: #00BD57;
    border-radius: 9px 2px 9px 2px;
    position: relative;
   bottom: 52px;
    right: 95px;
    height: 30px;
    color: white;
}

.heading{
    color: #54CCFA;
    text-align: center;
    background-color: #152023;
   
}

.hr{
    background-color: #525252;
    height: 0.1px;
    width: 20%;
    position: relative;
    left: 36%;
    
}

.servicescontainer{
    background-color: #152023;
 }

 .services{
     border: 2px solid rgb(34, 34, 34);
    margin: 14px;
    padding: 18px;
    display: flex;
    background-color: #173033;
    height: 20%;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 6px;
}
.heart{
    margin: 4px;
    padding: 6px;
}
.container1{
    color: white;
    width: 21%;
    left: 6%;
    position: relative;
    bottom: -8px;
}

.container2{
    color: white;
    width: 33%;
    left: 9%;
    bottom: -25px;
    position: relative;
}
.product{
    color: #54CCFA;
}
.dollar{
    color: #FF7A00;
}
.btn{
    position: relative;
    border-radius: 6px 4px 2px 2px;
    right: 25%;
    width: 140px;
    cursor: pointer;
}
.description{
    color: #82DB62;
}