.dashPage {
  background-color: #142424;
  height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Convergence', sans-serif;
  font-size: 1rem;
}

.container1 {
  margin: 5rem;
  /* margin-bottom: 7rem; */
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  grid-template-areas: 'LeftPosition RightPosition';
  grid-gap: 5em;
}

.LeftPosition {
  padding: auto;
  width: auto;
  height: auto;
  grid-area: LeftPosition;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.RightPosition {
  /* padding: auto; */
  width: auto;
  height: auto;
  grid-area: RightPosition;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.RightPosition .row{
  margin-top: 0.5rem;
  padding:1rem 2rem;
  font-size: 20px;
  background-color: #142424;
  border-radius: 10px;
  /* border: 1px solid grey; */
}
.RightPosition .row .dataSpan{
  color: #00bd57;
  margin-right: 5px;
}

.container2 {
  margin: 5em;
  width: auto;
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organisation {
  padding: 2em;
  background-color: #173033;
  box-shadow: 2px 10px 50px 0px rgba(0, 255, 10, 0.25) inset;
  box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  border: 2px solid #fff;
  
}

.img {
  padding: 3em;
  background-color: #173033;
  box-shadow: 0 4px 8px 0 rgba(25, 121, 165, 0.726), 0 6px 20px 0 #00000030;
}

.organDetails {
  padding: 4em;
  background-color: #173033;
  box-shadow: 4px 4px 50px 0px rgba(0, 255, 240, 0.19);
  border-radius: 1rem;
  border: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.organProducts {
  padding: 3em;
  background-color: #173033;
  box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
  border-radius: 1rem;
  border: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  margin: 1rem 0;
  background-color: #142424;
  height: 3rem;
  width: 34em;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 15px;
  border: 2px solid #a9bcc9;
  font-family: inherit;
  font-size: inherit;
  cursor: text;
  color: #fff;
}

.input:hover {
  border: 2px solid #fff5b7;
}
.input:focus {
  border: 2px solid #1597e5;
}
.orgType{
  margin: 1rem 0;
  background-color: #142424;
  height: 3rem;
  width: 34em;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 5px;
  border: 2px solid #a9bcc9;
  font-family: inherit;
  font-size: inherit;
  cursor: text;
  color: #fff;
}
.topic {
  color:#00bd57;
  font-weight: bolder;
}

.text{
  background-color: #142424;
  color: #f1f1f1;
  padding: 1em;
  border: 2px solid #a9bcc9;
  border-radius: 0.5rem;
  font-size: 0.95em;
}

.text:hover {
  border: 2px solid #fff5b7;
}
.text:focus {
  border: 2px solid #1597e5;
}

.button {
  border-radius: 0.5rem;
  font-size: 15px;
  color: white;
  background-color: #00bd57;
  text-decoration: none;
  padding: 10px 40px;
  margin: 20px;
  letter-spacing: 1px;
  box-shadow: 2px 10px 50px 0px rgba(0, 255, 10, 0.25) inset;
  box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
}

.button:hover {
  color: white;
  box-shadow: inset 5px 3px 11px 10px rgba(7, 255, 0, 0.42);
}

@media only screen and (max-width: 1024px) {
  .dashPage {
    height: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .dashPage {
    height: auto;
  }
  .container1 {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'LeftPosition'
      'RightPosition';
    grid-gap: 4em;
    transition: all 0.2 linear;
  }
  .input {
    width: 20em;
    height: 3em;
  }
}

@media only screen and (max-width: 565px) {
  .organisation,.organDetails,.organProducts {
    padding: 1.5em;
  }
  .input {
    width: 24em;
    height: 3em;
  }
}
@media only screen and (max-width: 500px) {

  .top {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .name {
    font-size: 20px;
  }
  .img {
    padding: 1em;
  }
  .input {
    width: 16em;
    height: 3em;
    padding: 7px;
    font-size: smaller;
  }
  .container1{
    grid-gap: 0.1em ;
  }
  .organisation{
    padding: 3em;
  }
}

@media only screen and (max-width: 320px) {
  .input {
    width: 11em;
    height: 3em;
    padding: 7px;
    font-size: smaller;
  }
  .topic,.text{
    font-size: 0.8em;
  }

}
