.formBody {
  color: white;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "formLeft formRight";
  background-color: #142424;
}
.formLeft {
  grid-area: formLeft;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formLeft .heading{
  text-align: center;
  color: #54CCFA;
  padding: 1rem;
}

.formRight {
  width: 95%;
  background-color: #173033;
  grid-area: formRight;
  height: 85%;
  margin-top: 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -100px 1px 50px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  
  .formRight form {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .formRight .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    padding: 10px 0;
  }
  
  .formRight form .row input::placeholder{
    font-size: 15px;
    color: rgb(187, 187, 187);
    padding: 5px;
  } 
  .formRight form .row textarea::placeholder{
    font-size: 15px;
    color: rgb(187, 187, 187);
    padding: 5px;
  }

  .formRight form .row .eventName , .eventType , .eventDate , .eventTime , .eventDuration , .eventPoster , .targetAudience , .eventDescription , .participantsLimit , .eventLocation , .enquiryDetails , .onOrgModel{
    flex: 0.45;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #173033;
    color: white;
    border: 1px solid white;
    border-radius:5px ;

  }
 

.buttons {
  margin-top: 1rem;
}
.buttons a {
  background-color: #00bd57;
  color: white;
  margin: 1rem;
  padding: 5px 10px;
  box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
}
.buttons a:hover {
  cursor: pointer;
  box-shadow: inset 5px 3px 11px 10px rgba(7, 255, 0, 0.42);
}



/*_____________TAB VIEW__________________ */
@media only screen and (max-width: 900px) {
  .formBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "formLeft formLeft "
      "formRight formRight";
  }

  .formLeft {
    grid-area: formLeft;
  }

  .formRight {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-area: formRight;
    flex-direction: column;
  }
}

/*_____________MOBILE VIEW__________________ */
@media only screen and (max-width: 550px) {
  .formBody {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "formLeft"
      "formRight";
  }

  .formLeft {
    height: auto;
    grid-area: formLeft;
  }

  .formRight {
    width: 100%;
    height: auto;
    grid-area: formRight;
    flex-direction: column;
    border-bottom: 2px solid grey;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .formRight form{
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .formRight .row{
    height: auto;
    flex-direction: column;
    margin-top: 0.3rem;

  }
  .formRight form .row input::placeholder{
    font-size: 15px;
    color: rgb(187, 187, 187);
    padding: 0px;
  } 
  .formRight form .row textarea::placeholder{
    font-size: 15px;
    color: rgb(187, 187, 187);
    padding: 0px;
  }

  .formRight .row .eventName , .eventType , .eventDate , .eventTime , .eventDuration , .eventPoster , .targetAudience , .eventDescription , .participantsLimit , .eventLocation , .enquiryDetails , .onOrgModel{
    width: 300px;
    height: 35px;
    margin-top: 0.5rem;
    padding: 10px;
    background-color: #173033;
    color: white;
    border: 1px solid white;
    border-radius:5px ;

  }
  .targetAudience{
    flex: 0.1;
  }
  .eventLocation{
    flex: 0.9;
  }

}

