.popupPage{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupPage .popup{
    border-radius: 20px;
    position: relative;
    width: 50%;
    height: 70%;
    padding: 1rem;
    background-color: #235358;
    box-shadow: 3px 0px 50px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popupPage .popup .close{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    float: right;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.popupPage .popup .close a{
    font-size: 35px;
   font-weight: bold;
}
.popupPage .popup .close a:hover{
cursor: pointer;
}

.popupPage .popup .popupHead{
    color: #54CCFA;
    font-weight: 500;
    font-size: 30px;
    margin: 1rem 0;
    text-align: center;
}


.popupPage .popup .description{
    width: 70%;
    height: 50%;
    font-size: 20px;
}


.button {
    font-size: 15px;
    color: white;
    background-color: #00BD57;
    text-decoration: none;
    padding: 10px 10px;
    margin: 20px;
    letter-spacing: 1px;
    box-shadow: 2px 10px 50px 0px rgba(0, 255, 10, 0.25) inset;
    box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
}

.button:hover{
    cursor: pointer;
  color: white;
  box-shadow: inset 5px 3px 11px 10px rgba(7,255,0,0.42)
  ;
}


@media only screen and (max-width: 900px) {
    .popupPage .popup{
        width: 70%;
    }
    .popupPage .popup .description{
        width: 100%;
        padding:5px 20px;
    }
}
    
@media only screen and (max-width: 550px) {
    
    .popupPage .popup{
        border-radius: 10px;
        width: 90%;
    }
    .popupPage .popup .close{
        width: 40px;
        height: 40px;
    }
    
    .popupPage .popup .popupHead{
        font-size: 25px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .popupPage .popup .description{
        font-size: 15px;
        width: 100%;
        padding:5px 15px;

    }
}
