
.cont1{
    position: absolute;
    left: 50%;
}
.cont2{
  
    color: rgb(247, 242, 242);   
}
.cont3{
    position: absolute;
 
    left: 15%;
    top: 16%;
    
}
.newbody{
    color: rgb(36, 23, 23);
}
.welcome{
    color: white;
}
.greenF{
    color: rgb(4, 189, 4);
}
.orgN{
    color: rgb(91, 91, 216);
}
.buton{
    display: flex;
    position: absolute;
    width: 120px;
    height: 40px;
   left: 50%;
   top: 40%; 
   border-radius: 16px 8px 10px 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 221, 105);
    cursor: pointer;
}
.ordet{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 240, 240);
    position: absolute;
    top: 56%;
    left: 40%;
}
.bcc{
   background-color: #193B3E;
   width: 80%;
   height: 65%;
   top: 67%;
   left: 10%;
   position: absolute;
   z-index: -1;

}
.torg{
 
    width: 56%;
    left: 22%;
    position: absolute;
    top: 10%;
    color: white;
}
.torgg{
   display: flex;
   align-items: center;
    justify-content: center;
}
.bol{
    display: flex;
    align-items: center;
     justify-content: center;
    
}
.hr{
    background-color: gray;
    height: 1px;
}
.cont4{
    position: absolute;
    left: 37%;
}
.products{
  
    color: rgb(252, 249, 249);
    top: 142%;
    left: 45%;
    position: absolute;
}
/* ------------------------------------------------------------------------------ */
.servicescontainer{
   position: absolute;
   width: 100%;
   height: 569px;
   top: 150%;
   z-index: -1;
}
.servicescontainer2{
   position: absolute;
   width: 100%;
   height: 569px;
   top: 220%;
   z-index: -1;
}

.services{
    margin: 14px;
    padding: 18px;
    display: flex;
}
.box{
    border: 2px solid rgb(37, 33, 33);
    padding: 14px;
    margin: 3px 28px;
    border-radius: 8px;
    width: 23%;
    height: 10%;
    color: white;
    background-color: #173033;
}
    .center{
        text-align: center;
    }
.card{
    display: flex;
    justify-content: space-between;
}
.btn1{
    color: red;
}
.btn2{
    color: rgb(83, 16, 238);
}
   
