
.cont1{
    position: absolute;
    left: 50%;
}
.cont2{
  
    color: rgb(247, 242, 242);   
}
.cont3{
    position: absolute;
 
    left: 15%;
    top: 16%;
    
}
.newbody{
    color: rgb(36, 23, 23);
}
.welcome{
    color: white;
}
.greenF{
    color: rgb(4, 189, 4);
}
.orgN{
    margin: 2% 0;
    margin-top: 3.5%;
    color: rgb(91, 91, 216);
}
.buton{
    position: absolute;
    height: 35px;
   left: 50%;
   top: 42%; 
   color: white;
   border-radius: 16px 8px 10px 5px;
    background-color: rgb(105, 221, 105);
    cursor: pointer;
}
.buton2{
    position: absolute;
    height: 35px;
   left: 60%;
   top: 42%; 
   color: white;
   border-radius: 16px 8px 10px 5px;
    background-color: rgb(105, 221, 105);
    cursor: pointer;
}
.buton:hover{
    color: black;
    background-color: rgb(156, 214, 68);
}
.buton2:hover{
    color: black;
    background-color: rgb(156, 214, 68);
}
.ordet{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 240, 240);
    position: absolute;
    top: 56%;
    left: 40%;
}
.bcc{
   background-color: #193B3E;
   width: 80%;
   height: 65%;
   top: 67%;
   left: 10%;
   position: absolute;
   z-index: -1;

}
.torg{
 
    width: 56%;
    left: 22%;
    position: absolute;
    top: 10%;
    color: white;
}
.torgg{
   display: flex;
   align-items: center;
    justify-content: center;
}
.bol{
    display: flex;
    align-items: center;
     justify-content: center;
    
}
.hr{
    background-color: gray;
    height: 1px;
}
.cont4{
    position: absolute;
    left: 34%;
    cursor: pointer;
}
.cont5{
    position: absolute;
    left: 46%;
    cursor: pointer;

}
.cont6{
    position: absolute;
    left: 58%;
    cursor: pointer;
  color: blue;

  
}
.products{
  
    color: rgb(252, 249, 249);
    top: 142%;
    left: 45%;
    position: absolute;
}
/* ------------------------------------------------------------------------------ */


.services1{
    margin: 14px;
    padding: 18px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 569px;
    top: 150%;
}
.services2{
    margin: 14px;
    padding: 18px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 469px;
    top: 210%;
   
}

.box1{ 
    padding: 14px;
    margin: 3px 28px;
    border-radius: 8px;
    width: 95%;
  height: 54%;
    color: white;
    background-color: #173033;
}
.descr{
    color: rgb(187, 173, 177);
    cursor: pointer;
}
.box2{ 
    padding: 14px;
    margin: 3px 28px;
    border-radius: 8px;
    width: 23%;
  height: 67%;
    color: white;
    background-color: #173033;
}
    .center{
        text-align: center;
    }
.card{
    display: flex;
    justify-content: space-between;
}
.btn1{
    color: red;
}
.btn2{
    color: rgb(83, 16, 238);
    cursor: pointer;
}
.viewmore{
    position: absolute;
    top: 205%;
    margin-bottom:50px;
    right: 2%;
    height: 35px;
     width: 140px;
     font-size: 21px;
    border-radius: 8px 4px 8px 5px;
    cursor: pointer;
    color: white;
    background-color: #00BD57;
}
 
.viewmore:hover{
    color: black;
    background-color: rgb(132, 184, 81);
}
