@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;500&display=swap');
  
.page{
    margin: auto;
    font-family: 'poppins',sans-serif;
    min-height: 100vh;
    background-color: rgba(20, 36, 36, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.nav{
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.signup{
  margin-right: 50px;
}
.home{
  margin-left: 50px;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 189, 87, 1);
  letter-spacing: 1px;
  cursor: pointer;
}
.btn{
    background:rgba(0, 189, 87, 1);
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background: #66f108;
}

.section{
    top:10vh;
    left: 15vw;
    position: relative;
    width: 70vw;
    height: 70vh;
    display: flex;
    background:rgba(23, 48, 51, 1);
    border: 1px solid #0d551f;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 6px rgba(100, 214, 55, 0.15);
    border-radius: 20px;

}
.section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
.section .imgBx .img{
    position:relative;
   top: 40px;
    left: 110px;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.section .imgBx .img {
    
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    
}
.section  .imgBx .inputBx {
    margin-left: 30%;
    margin-top: 50px;
}
.section .imgBx .inputBx p{
    font-size: 25px;
    color: #0bf752;
}
.section .imgBx .inputBx p .register{
    color: #809717;
}
.section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.section .contentBx .formBx{
    width: 60%;
}
.section .contentBx .formBx h2{
    color: rgba(0, 189, 87, 1) ;
    font-weight: 600;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 35%;
}
.section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
.section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: rgba(226, 215, 215, 1);
    font-weight:300;
    font-size: 16px;
    letter-spacing: 1px;
}
.section .contentBx .formBx .inputBx .input{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background:rgba(220, 253, 219, 1) ;
    border-radius: 5px;
}

.section .contentBx .formBx .inputBx .input[type="submit"]{
    background:rgba(0, 189, 87, 1);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    width: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 25%;
}
.select{
    width: 80%;
    height:30px;
    padding-left: 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 10px;
    letter-spacing: 1px;
    color: #435964;
    background:rgba(220, 253, 219, 1) ;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:5px;
}

.section .contentBx .formBx .inputBx .input[type="submit"]:hover{
    background: #66f108;
}
.section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #f2f8f3;
    font-weight: 400;
    font-size: 14px;
}
.section .contentBx .formBx p{
    padding-bottom: 10px;
    font-size: 15px;
}
.section .contentBx .formBx p .forgot{
    color: rgb(19, 180, 13);

}
.section .contentBx .formBx h3{
    font-weight:400 ;
    font-size: 13px;
    color: #ecf6ed;
    text-align: center;
    margin-bottom: 0;
}
.section .contentBx .formBx .sci{
    padding-top: 0px;
    display: flex;
    justify-content:center ;
    align-items: center;

}
.section .contentBx .formBx .sci li{
    list-style:none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a3f0a0;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
.section .contentBx .formBx .sci li img{
    transform:scale(0.5);
    filter:invert(1);
}

@media (max-width: 768px)
{
    .section .imgBx{
        position: absolute;
        top:0;
        left:0;
        width: 80%;
        height: 100%;
    }
    .section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding-right: 30px;
        background: rgb(11 40 7 / 80%);
        border-radius: 5%;
    }
    .section .contentBx .formBx{
    width: 100%;
    padding: 40px;
    }
    .section  .imgBx .inputBx {
        display: none;
    }
}