.navbar {
  height: 80px;
  background-color: #142424;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  color: white;
  margin: 0 2rem;
}

.navbar ul {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}
.navbar ul li {
  color: white;
  margin-left: 1rem;
  list-style: none;
  text-decoration: none;
  animation: all 0.3s ease;
}

.navbar ul li a:hover {
  color: #00bd57;
  font-size: 17px;
}

.button,
.button1 {
  font-size: 15px;
  color: white;
  background-color: #00bd57;
  text-decoration: none;
  padding: 10px 10px;
  margin: 20px;
  letter-spacing: 1px;
  box-shadow: 2px 10px 50px 0px rgba(0, 255, 10, 0.25) inset;
  box-shadow: 0px 4px 50px 0px rgba(0, 255, 240, 0.19);
}
.button1 {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover,.button1:hover {
  cursor: pointer;
  color: white;
  box-shadow: inset 5px 3px 11px 10px rgba(7, 255, 0, 0.42);
}

@media only screen and (max-width: 550px) {
  .logo {
    font-size: 25px;
    margin: 0 0.5rem;
  }

  .navbar ul {
    margin: 0 0.5rem;
  }

  .button,.button1 {
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 0.5px;
  }
}
