.popbody {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.container{
        position: relative;
        width: 65%;
        height: 80%;
        padding: 1rem;
        background-color: #142424;
        box-shadow: 1px 1px 2px 3px rgb(141, 140, 140);
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
}
.header{
    color: #53C6F2;
    font-size: 40px;
    padding-top: 0%;
    margin-left: 0%;
    font-weight: 400;
    background-color: #142424;
  }
  .LeftArrow {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    float: leftt;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .LeftArrow:hover {
    cursor: pointer;
  }
.signu{
    background-color: #142424;
    height: 80%;
    width: 100%;
    padding: 0% 0% 0% 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.section{
    top:0vh;
    left: 0vw;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background:rgba(23, 48, 51, 1);
    background-color: #142424;
}

.left{
    width: 80%;
    height: 100%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #173033;
}

.right{
        width: 80%;
        height: 100%;
        margin-left: 3%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #173033;
}
.section .imgBx{
    position: relative;
    width: 100%;
    height: 65%;
}

.section .imgBx .img {
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    
}

.txt{
    color: #fff;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 15px;
    text-align: justify;
}

.pics1{
    background-image: url("1.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    width: 75%;
    padding: 0 0 0 0;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 0px;
    object-fit:fill;
    position: relative;
}
.pics2{
    background-image: url("2.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    width: 75%;
    padding: 0 0 0 0;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 0px;
    object-fit:fill;
    position: relative;
}
.section  .imgBx .inputBx {
    margin-left: 25%;
    margin-top: 30%;
    margin-bottom: 0px;
}
.section .inputBx input[type="submit"]{
    background: #00BD57;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    width: 60%;
    height: 42px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0%;
    margin-bottom: 0px;
    border-radius: 5px;
}
.section .inputBx input[type="submit"]:hover{
    opacity: 80%;
}

