html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


 /* below code is coded by KISHAN */ */


 *{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
body{
  background-color:#152b2c;
}
h5{
  color:#fff;
  display:inline-block;
}
button{
  background-color:#82DB62;
  border:none;
  width:8vw;
  height:3vh;
  font-size:1vw;
  float:right;
  margin-right:10px;
}
.main{
  margin-top:10vh;
}

.main__question{
  margin:auto;
  background-color:#00E86B;
  width:80vw;
  text-align:left;
  padding:1vw 0 1vw 3vw;
  margin-bottom:4vh;
  font-size:3vw;
}
.main__options{
  background-color:#91c7b6;
  width:80vw;
  margin:auto;
  border-radius:3px;
  height:30px;
  padding-top:5px;
  padding-left:10px;
  margin-bottom: 15px;
}
