.container {
  margin: 0;
  padding: 0;
  background-color: #142424;
}

.main {
  background-color: #142424;
  color: white;
  min-height: 100vh;
  padding: 4rem 0;
}

.circle{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  left: -10%;
  background-color: #193B3E;
  opacity: 0.4;
}

@media only screen and (max-width:550px) {
    
.main {
  padding: 1.5rem 0;
}
.circle{
  width: 200px;
  height: 250px;
  top: -20%;
  left: -20%;
}

}