.container {
  padding: 0 2rem;
  background-color: #142424;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #142424;
}
.header {
  color: #53c6f2;
  font-size: 40px;
  padding-top: 5%;
  margin-left: 40%;
  font-weight: 400;
  background-color: #142424;
}
